{{notifications}}
<table  id="customers">
    <th>Id</th>
    <th>requestId</th>
    <th>Action</th>
    <th>Desc</th>
    <th>Node</th>
    <th>Title</th>
    <th>Time</th>
    <Th>IP</Th>
    <th>city</th>
    <th>country</th>
    <th>location</th>
    <th>postal</th>
    <th>region</th>
    <th>timezone</th>
    <th>Url</th>
    <th>Cookie</th>
    <th>Platform</th>
    <th>Referrer</th>
    <th>UserAgent</th>
    <th>Track</th>
    <th>Language</th>
    <th>onLine</th>
    <th>vendor</th>
    <th>javaEnabled</th>
    <th>browser</th>
    <th>browser_version</th>
    <th>device</th>
    <th>deviceType</th>
    <th>orientation</th>
    <th>os</th>
    <th>os_version</th>
    <th>isDesktop</th>
    <th>isTablet</th>
    <th>isPhone</th>
    <th>visitorFound</th>
    <tr *ngFor="let notification of notifications">
        <td>
            {{notification.id}}
        </td>
        <td>
            <a [routerLink]="" (click)="getRequest(notification.id,notification.requestId)"> {{notification.requestId}}</a>
         </td>
        <td>
            {{notification.action}}
        </td>
        <td>
            {{notification.description}}
        </td>
        <td>
            {{notification.nodeName}}
        </td>
        <td>
            {{notification.title}}
        </td>
        <td>
            {{notification.time}}
        </td>
        <td>
            {{notification.ipAddress}}
        </td>
        <td>
            {{notification.city}}
        </td>
        <td>
            {{notification.country}}
        </td>
        <td>
            {{notification.location}}
        </td>
        <td>
            {{notification.postal}}
        </td>
        <td>
            {{notification.region}}
        </td>
        <td>
            {{notification.timezone}}
        </td>        
        <td>
            {{notification.url}}
        </td>
        <td>
            {{notification.cookieEnabled}}
        </td>
        <td>
            {{notification.platform}}
        </td>
        <td>
            {{notification.referrer}}
        </td>
        <td>
            {{notification.userAgent}}
        </td>
        <td>
            {{notification.doNotTrack}}
        </td>
        <td>
            {{notification.language}}
        </td>
        <td>
            {{notification.onLine}}
        </td>
        <td>
            {{notification.vendor}}
        </td>
        <td>
            {{notification.javaEnabled}}
        </td>
        <td>
            {{notification.browser}}
        </td>
        <td>
            {{notification.browser_version}}
        </td>
        <td>
            {{notification.device}}
        </td>
        <td>
            {{notification.deviceType}}
        </td>
        <td>
            {{notification.orientation}}
        </td>
        <td>
            {{notification.os}}
        </td>
        <td>
            {{notification.os_version}}
        </td>
        <td>
            {{notification.isDesktop}}
        </td>
        <td>
            {{notification.isTablet}}
        </td>
        <td>
            {{notification.isPhone}}
        </td>
        <td>
            {{notification.visitorFound}}
        </td>
        
    </tr>
</table>
<div style="max-height: 800px; max-width: 500px;"><pre><p>{{visitData | json}}</p></pre></div>