<div class="container">
    <!-- Nav Bar -->
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['original']">Original</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['image-prioritize']">Image
                                Prioritize</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" [routerLink]="['add-cart']">Add Cart
                                Bottom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['buy-now']">Buy Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['product-feature']">Product Feature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['promotion']">Promotion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['product-title']">Product Title</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['product-price']">Product Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['product-review']">Product Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" [routerLink]="['show-other']">Other
                                Products</a>
                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <a href="#">
                            <img id="cart-icon" src="/static/images/cart.png">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

<!-- <ng-template demoHost></ng-template> -->

<router-outlet></router-outlet>


  <!-- Footer -->
  <div class="row footer">
    <div class="segment-one col">
        <h3>Attryb Tech</h3>
        <p>Integrate with turnkey CX and Data Stack for your business Leverage AI to create hyper-personalized
            customer journey and continuously test content and page structure variants using first party
            customer data</p>
    </div>
    <div class="segment-two col">
        <h2>Attryb Tech</h2>
        <ul>
            <li><a href="#">Event</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Hosting</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="segment-three col">
        <h2>Follow Us</h2>
        <p>Please Follow us on our Social Media Profile in order to keep updated.</p>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
    </div>
</div>
<div class="row">
    <p class="footer-bottom-text">All Right reserved by &copy;Attryb Tech 2021.</p>
</div>

</div>